.u-text-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-bold {
  font-weight: bolder; }

.u-color-primary {
  color: #84B1ED !important; }

.u-color-secondary {
  color: #EE7785 !important; }

.u-color-tertiary {
  color: #C89EC4 !important; }

.u-color-quaternary {
  color: #67D5B5 !important; }

.u-emphasize {
  display: inline-block; }
  .u-emphasize:hover {
    transform: scale(1.1); }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* 1rem = 10px */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.heading-main {
  font-size: 9rem;
  color: #fff;
  font-family: "Parisienne", Arial, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: .5rem;
  backface-visibility: hidden;
  display: block;
  animation-name: DisplayByIncreasingFont;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }
  @media only screen and (max-width: 75em) {
    .heading-main {
      font-size: 8.64rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-main {
      font-size: 8.1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-main {
      font-size: 7.56rem; } }
  @media only screen and (max-width: 75em) {
    .heading-main__line {
      display: block; } }

.heading-sub {
  font-size: 3rem;
  color: #fff;
  font-weight: 1000;
  letter-spacing: 1rem;
  backface-visibility: hidden;
  width: 50rem;
  margin: auto;
  display: block;
  animation-name: MoveInRight;
  animation-duration: 2.5s;
  animation-fill-mode: forwards; }
  @media only screen and (max-width: 75em) {
    .heading-sub {
      font-size: 2.88rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-sub {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-sub {
      font-size: 2.52rem; } }

.heading-secondary {
  font-size: 3rem;
  color: #84B1ED;
  padding: 2rem;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .heading-secondary {
      font-size: 2.88rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.52rem; } }

.heading-tertiary {
  font-size: 2rem;
  color: #4e4e4e;
  padding: 1rem;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.92rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.68rem; } }

.paragraph--primary {
  font-size: 2rem;
  color: #4e4e4e;
  text-align: center;
  line-height: 1.5;
  letter-spacing: .3rem;
  word-spacing: .4rem;
  padding: 2rem;
  width: 100%; }
  @media only screen and (max-width: 75em) {
    .paragraph--primary {
      font-size: 1.92rem; } }
  @media only screen and (max-width: 56.25em) {
    .paragraph--primary {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph--primary {
      font-size: 1.68rem; } }
  @media only screen and (max-width: 75em) {
    .paragraph--primary {
      line-height: initial;
      letter-spacing: initial;
      word-spacing: initial;
      padding: 1rem; } }

.paragraph--secondary {
  font-size: 1.6rem;
  color: #4e4e4e;
  padding: 1rem 1rem;
  text-align: center;
  line-height: 1.5; }
  @media only screen and (max-width: 75em) {
    .paragraph--secondary {
      font-size: 1.536rem; } }
  @media only screen and (max-width: 56.25em) {
    .paragraph--secondary {
      font-size: 1.44rem; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph--secondary {
      font-size: 1.344rem; } }

.handwriting {
  font-family: "Parisienne", Arial, Helvetica, sans-serif; }

.handwriting-small {
  font-family: "Parisienne", Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  font-weight: 800; }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translate(0, 100rem); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes DisplayByIncreasingFont {
  0% {
    opacity: 0.01;
    font-size: 0.09rem; }
  5% {
    opacity: 0.05;
    font-size: 0.45rem; }
  10% {
    opacity: 0.1;
    font-size: 0.9rem; }
  15% {
    opacity: 0.15;
    font-size: 1.35rem; }
  20% {
    opacity: 0.2;
    font-size: 1.8rem; }
  25% {
    opacity: 0.25;
    font-size: 2.25rem; }
  30% {
    opacity: 0.3;
    font-size: 2.7rem; }
  35% {
    opacity: 0.35;
    font-size: 3.15rem; }
  40% {
    opacity: 0.4;
    font-size: 3.6rem; }
  45% {
    opacity: 0.45;
    font-size: 4.05rem; }
  50% {
    opacity: 0.5;
    font-size: 4.5rem; }
  55% {
    opacity: 0.55;
    font-size: 4.95rem; }
  60% {
    opacity: 0.6;
    font-size: 5.4rem; }
  65% {
    opacity: 0.65;
    font-size: 5.85rem; }
  70% {
    opacity: 0.7;
    font-size: 6.3rem; }
  75% {
    opacity: 0.75;
    font-size: 6.75rem; }
  80% {
    opacity: 0.8;
    font-size: 7.2rem; }
  85% {
    opacity: 0.85;
    font-size: 7.65rem; }
  90% {
    opacity: 0.9;
    font-size: 8.1rem; }
  95% {
    opacity: 0.95;
    font-size: 8.55rem; }
  100% {
    opacity: 1;
    font-size: 9rem; } }

@keyframes MoveDown-1 {
  0% {
    transform: translateY(-100rem); }
  100% {
    transform: translate(0); } }

@keyframes MoveDown-2 {
  0% {
    transform: translateY(-80rem); }
  100% {
    transform: translate(0); } }

@keyframes MoveDown-3 {
  0% {
    transform: translateY(-50rem); }
  100% {
    transform: translate(0); } }

.header {
  text-align: center;
  background-image: linear-gradient(to top, transparent 15%, rgba(183, 207, 238, 0.65), rgba(75, 102, 136, 0.85)), url(../img/img-001.jpg);
  background-size: cover;
  background-position: top;
  height: 97vh; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.footer {
  width: 100%;
  margin: auto;
  padding: 10rem;
  background-color: #414242;
  font-size: 2rem;
  letter-spacing: .1rem; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 6rem;
      font-size: 1.6rem;
      letter-spacing: initial; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 4rem; } }
  .footer__cell {
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid #909191;
    display: inline-block;
    padding: 1.5rem;
    transition: all .2s;
    backface-visibility: hidden;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .footer__cell {
        height: 7.2rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__cell {
        height: 6.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__cell {
        height: 5.6rem; } }
    .footer__cell:hover {
      transform: scale(1.1);
      box-shadow: 5px 5px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .footer__cell {
        padding: .5rem; } }
  .footer__social {
    display: inline-block;
    transition: all .2s;
    backface-visibility: hidden; }
    .footer__social:hover {
      transform: scale(1.3); }
  .footer__text {
    width: 70%;
    height: 100%;
    display: inline-block;
    float: right;
    color: #84B1ED;
    text-decoration: none; }
  .footer__text--smaller {
    width: 70%;
    height: 100%;
    display: inline-block;
    float: right;
    color: #84B1ED;
    font-size: 1.4rem;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .footer__text--smaller {
        font-size: 1.344rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__text--smaller {
        font-size: 1.26rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__text--smaller {
        font-size: 1.176rem; } }
  .footer__address {
    font-size: 1.6rem; }
    @media only screen and (max-width: 75em) {
      .footer__address {
        font-size: 1.536rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__address {
        font-size: 1.44rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__address {
        font-size: 1.344rem; } }

#footer__fonticon--1, #footer__fonticon--2, #footer__fonticon--3, #footer__fonticon--4,
#footer__fonticon--5, #footer__fonticon--6, #footer__fonticon--7, #footer__fonticon--8 {
  width: 30%;
  float: left;
  margin: 0;
  color: #84B1ED; }
  #footer__fonticon--1, #footer__fonticon--1::before, #footer__fonticon--1::after, #footer__fonticon--2, #footer__fonticon--2::before, #footer__fonticon--2::after, #footer__fonticon--3, #footer__fonticon--3::before, #footer__fonticon--3::after, #footer__fonticon--4, #footer__fonticon--4::before, #footer__fonticon--4::after,
  #footer__fonticon--5,
  #footer__fonticon--5::before,
  #footer__fonticon--5::after, #footer__fonticon--6, #footer__fonticon--6::before, #footer__fonticon--6::after, #footer__fonticon--7, #footer__fonticon--7::before, #footer__fonticon--7::after, #footer__fonticon--8, #footer__fonticon--8::before, #footer__fonticon--8::after {
    font-size: 4rem !important;
    font-weight: 600; }

.btn {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  border-radius: 10rem;
  transition: all .2s; }
  @media only screen and (max-width: 75em) {
    .btn {
      font-size: 1.92rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.68rem; } }
  .btn--primary {
    background-color: #84B1ED; }
  .btn--secondary {
    background-color: #EE7785; }
  .btn--tertiary {
    background-color: #C89EC4; }
  .btn--quaternary {
    background-color: #67D5B5; }
  .btn--bottom {
    position: absolute;
    bottom: 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
  .btn:hover {
    box-shadow: 1rem 1rem rgba(0, 0, 0, 0.2); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      margin-bottom: 4rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 4rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem)/4) + 2 * 6rem); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.2; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.particles {
  position: relative;
  width: 100%;
  height: 100%; }
  .particles__item {
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 1;
    border-radius: 100rem;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    backface-visibility: hidden;
    box-shadow: 0.2rem 0.2rem rgba(75, 102, 136, 0.5); }
    .particles__item--1 {
      background-color: #84B1ED;
      bottom: -8rem; }
      .particles__item--1--pos1 {
        left: 5%; }
      .particles__item--1--pos2 {
        left: 7%; }
    .particles__item--2 {
      background-color: #EE7785;
      bottom: 0; }
      .particles__item--2--pos1 {
        left: 12%; }
      .particles__item--2--pos2 {
        left: 10%; }
    .particles__item--3 {
      background-color: #C89EC4;
      bottom: -5rem; }
      .particles__item--3--pos1 {
        left: 21%; }
      .particles__item--3--pos2 {
        left: 23%; }
    .particles__item--4 {
      background-color: #84B1ED;
      bottom: -10rem; }
      .particles__item--4--pos1 {
        left: 30%; }
      .particles__item--4--pos2 {
        left: 33%; }
    .particles__item--5 {
      background-color: #67D5B5;
      bottom: 0; }
      .particles__item--5--pos1 {
        left: 42%; }
      .particles__item--5--pos2 {
        left: 39%; }
    .particles__item--6 {
      background-color: #84B1ED;
      bottom: -10rem; }
      .particles__item--6--pos1 {
        left: 55%; }
      .particles__item--6--pos2 {
        left: 59%; }
    .particles__item--7 {
      background-color: #C89EC4;
      bottom: 0; }
      .particles__item--7--pos1 {
        left: 62%; }
      .particles__item--7--pos2 {
        left: 66%; }
    .particles__item--8 {
      background-color: #67D5B5;
      bottom: -10rem; }
      .particles__item--8--pos1 {
        left: 75%; }
      .particles__item--8--pos2 {
        left: 73%; }
    .particles__item--9 {
      background-color: #EE7785;
      bottom: 0; }
      .particles__item--9--pos1 {
        left: 82%; }
      .particles__item--9--pos2 {
        left: 84%; }
    .particles__item--10 {
      background-color: #67D5B5;
      bottom: -10rem; }
      .particles__item--10--pos1 {
        left: 90%; }
      .particles__item--10--pos2 {
        left: 88%; }
    .particles__item--11 {
      background-color: #EE7785;
      bottom: -11rem; }
      .particles__item--11--pos1 {
        left: 96%; }
      .particles__item--11--pos2 {
        left: 98%; }
    .particles__item--anim1 {
      animation-name: MoveDown-1;
      animation-timing-function: ease-out;
      animation-delay: 5s; }
    .particles__item--anim2 {
      animation-name: MoveDown-2;
      animation-timing-function: ease-in; }
    .particles__item--anim3 {
      animation-name: MoveDown-3;
      animation-timing-function: ease-in-out;
      animation-delay: 4s; }
    .particles__item--anim4 {
      animation-name: MoveDown-1;
      animation-timing-function: ease; }
    .particles__item--anim5 {
      animation-name: MoveDown-3;
      animation-timing-function: ease-out;
      animation-delay: 3s; }

.courses {
  width: 100%;
  padding: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }
  .courses__box {
    height: 50rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all .2s; }
    .courses__box--1 {
      border: 3px solid #84B1ED; }
    .courses__box--2 {
      border: 3px solid #EE7785; }
    .courses__box--3 {
      border: 3px solid #67D5B5; }
    .courses__box--4 {
      border: 3px solid #C89EC4; }
    .courses__box__list {
      list-style: none;
      padding: 1rem; }
      .courses__box__list__item {
        font-size: 1.6rem;
        color: #4e4e4e;
        padding: .5rem .5rem;
        text-align: center; }
        @media only screen and (max-width: 75em) {
          .courses__box__list__item {
            font-size: 1.536rem; } }
        @media only screen and (max-width: 56.25em) {
          .courses__box__list__item {
            font-size: 1.44rem; } }
        @media only screen and (max-width: 37.5em) {
          .courses__box__list__item {
            font-size: 1.344rem; } }
    .courses__box:hover {
      transform: translate(0, -1rem) scale(1.07); }

#courses-fonticon-1, #courses-fonticon-2, #courses-fonticon-3, #courses-fonticon-4 {
  display: block;
  width: 100%;
  border: 3px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center; }
  #courses-fonticon-1, #courses-fonticon-1::before, #courses-fonticon-1::after, #courses-fonticon-2, #courses-fonticon-2::before, #courses-fonticon-2::after, #courses-fonticon-3, #courses-fonticon-3::before, #courses-fonticon-3::after, #courses-fonticon-4, #courses-fonticon-4::before, #courses-fonticon-4::after {
    font-size: 6rem !important;
    font-weight: 600; }

#courses-fonticon-1 {
  background-color: #84B1ED; }

#courses-fonticon-2 {
  background-color: #EE7785; }

#courses-fonticon-3 {
  background-color: #67D5B5; }

#courses-fonticon-4 {
  background-color: #C89EC4; }

.detail-page {
  position: fixed;
  width: 95vw;
  height: 95vh;
  top: 2.5%;
  right: 2.5%;
  z-index: 1500;
  padding: 2rem;
  border-radius: 4rem;
  transform: scale(0);
  transition: all .5s;
  overflow-y: auto; }
  .detail-page--1 {
    background-color: rgba(132, 177, 237, 0.95); }
  .detail-page--2 {
    background-color: rgba(238, 119, 133, 0.95); }
  .detail-page--3 {
    background-color: rgba(103, 213, 181, 0.95); }
  .detail-page--4 {
    background-color: rgba(200, 158, 196, 0.95); }
  .detail-page:target {
    transform: scale(1); }
  .detail-page__img {
    height: 45rem;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    margin-top: 5rem;
    border-radius: 4rem; }
    @media only screen and (max-width: 75em) {
      .detail-page__img {
        height: 40.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .detail-page__img {
        height: 36rem; } }
    @media only screen and (max-width: 37.5em) {
      .detail-page__img {
        height: 31.5rem; } }
    .detail-page__img--1 {
      background-image: url("../img/img-004.jpg"); }
    .detail-page__img--2 {
      background-image: url("../img/img-005.jpg"); }
    .detail-page__img--3 {
      background-image: url("../img/img-006.jpg"); }
    .detail-page__img--4 {
      background-image: url("../img/img-007.jpg"); }
  .detail-page__text {
    font-size: 1.6rem;
    width: 100%;
    padding: 1rem;
    color: #4e4e4e;
    text-align: left; }
    @media only screen and (max-width: 75em) {
      .detail-page__text {
        font-size: 1.536rem; } }
    @media only screen and (max-width: 56.25em) {
      .detail-page__text {
        font-size: 1.44rem; } }
    @media only screen and (max-width: 37.5em) {
      .detail-page__text {
        font-size: 1.344rem; } }
    .detail-page__text ol {
      padding: 2rem; }
    .detail-page__text li {
      padding: 1rem; }
  .detail-page__close {
    font-size: 6rem;
    position: absolute;
    top: 2%;
    right: 5%;
    text-decoration: none;
    color: #4e4e4e; }
    @media only screen and (max-width: 75em) {
      .detail-page__close {
        font-size: 5.76rem; } }
    @media only screen and (max-width: 56.25em) {
      .detail-page__close {
        font-size: 5.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .detail-page__close {
        font-size: 5.04rem; } }

.section-about {
  width: 100%;
  height: 100vh;
  padding: 20rem;
  position: relative;
  background-image: url(../img/img-002.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .section-about .about-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-courses {
  padding: 8rem;
  color: #4e4e4e;
  background-color: #FCFEFE;
  position: relative;
  height: 80rem; }
  @media only screen and (max-width: 56.25em) {
    .section-courses {
      height: 240rem;
      padding: 2rem; } }
