//colors
//-----------------------------------
$color-white: #fff;
$color-black: #000;

$color-primary: #84B1ED;
$color-primary-light:#b7cfee;
$color-primary-dark: #4b6688;

$color-secondary: #EE7785;
$color-secondary-dark: rgb(151, 73, 84);

$color-tertiary: #C89EC4;
$color-quaternary: #67D5B5;

$color-grey-light: rgb(250, 250, 250);
$color-grey-medium: rgb(230, 230, 230); 
$color-grey-dark:rgb(65, 65, 65); 

$color-text-light: $color-white;// #FCFEFE;
$color-text-dark: $color-grey-dark;

//grid
//-----------------------------------
$gutter-horizontal: 6rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;

//fonts
//------------------------------------
$font-family-primary: 'Roboto', Arial, Helvetica, sans-serif;
$font-family-secondary: 'Parisienne', Arial, Helvetica, sans-serif; //Handwriting

//font-sizes
//-----------------------------------
$font-size-largest: 9rem;
$font-size-large: 6rem;
$font-size-medium: 3rem;
$font-size-small: 2rem;
$font-size-text: 1.6rem;
$font-size-text-smaller: 1.4rem;