//colors
//-----------------------------------
// $color-primary: #67D5B5;
// $color-primary-light:#7bfdd6;
// $color-primary-dark: #48947d;

$color-primary: #84B1ED;
$color-primary-light:#b7cfee;
$color-primary-dark: #4b6688;

$color-secondary: #EE7785;
$color-tertiary: #C89EC4;
$color-quaternary: #67D5B5;

$color-text-light: #FCFEFE;
$color-text-dark: rgb(78, 78, 78);

$color-grey-light: #FCFEFE;

$color-white: #fff;
$color-black: #000;

//grid
//-----------------------------------
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

//fonts
//------------------------------------
$font-family-primary: 'Roboto', Arial, Helvetica, sans-serif;
$font-family-secondary: 'Parisienne', Arial, Helvetica, sans-serif; //Handwriting

//font-sizes
//-----------------------------------
$font-size-largest: 9rem;
$font-size-large: 6rem;
$font-size-medium: 3rem;
$font-size-small: 2rem;
$font-size-text: 1.6rem;