.courses{
    width: 100%;
    padding: 3rem;

    @include CentralizeX();

    &__box{
        height: 50rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 6px 6px rgba($color-black, .2);
        position: relative;
        transition: all .2s;

        &--1{border: 3px solid $color-primary;}
        &--2{border: 3px solid $color-secondary;}
        &--3{border: 3px solid $color-quaternary;}
        &--4{border: 3px solid $color-tertiary;}

        &__list{
            list-style: none;
            padding: 1rem;
            
            &__item{
                @include respond-font($font-size-text);
                color: $color-text-dark;
                padding: .5rem .5rem;
                text-align: center;
            }
        }

        &:hover{
            transform: translate(0, -1rem) scale(1.07);
        }
    }
}

#courses-fonticon-1, #courses-fonticon-2, #courses-fonticon-3, #courses-fonticon-4{
    display: block;
    width: 100%;
    border: 3px solid transparent;;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
   
    &, &::before, &::after{
        font-size: 6rem !important; 
        font-weight: 600;
    }
}

#courses-fonticon-1{
    background-color: $color-primary;
}

#courses-fonticon-2{
    background-color: $color-secondary;
}

#courses-fonticon-3{
    background-color: $color-quaternary;
}

#courses-fonticon-4{
    background-color: $color-tertiary;
}
