.detail-page{
    position: fixed;
    width: 95vw;
    height: 95vh;
    top: 2.5%;
    left: 2.5%;
    z-index: 9999;
    padding: 2rem;
    border-radius: 4rem;
    transform: scale(0);
    transition: all .5s;
    overflow: hidden;

    @include respond(tab-port){
        width: 97vw;
        height: 97vh;
        top: .5%;
        left: .5%;
        padding-top: 1rem;
        padding:.5rem;
    }

    &--1{background-color: rgba($color-primary, .95);}
    &--2{background-color: rgba($color-secondary, .95);}
    &--3{background-color: rgba($color-quaternary, .95);}
    &--4{background-color: rgba($color-tertiary, .95);}
    
    &:target {
        transform: scale(1);
    }

    &__img{
        @include respond-height(45rem);
        background-size: cover;
        background-position: center;
        padding: 1rem;
        margin-top: 5rem;
        border-radius: 4rem;

        &--1{background-image: url("../img/img-004.jpg");}
        &--2{background-image: url("../img/img-005.jpg");}
        &--3{background-image: url("../img/img-006.jpg");}
        &--4{background-image: url("../img/img-007.jpg");}
    }

    &__text{
        @include respond-font($font-size-text);
        width: 100%;
        padding-top: 10rem;
        padding: 1rem;
        color: $color-text-dark;
        text-align: left;
        overflow-y: auto;
       
        @include respond(tab-port){
            padding: 2rem;
        }
    }

    &__close{
        @include respond-font($font-size-large);
        position: absolute;
        top: 2%;
        right: 5%;
        text-decoration: none;
        color: $color-text-dark;
    }
}