.particles{
    position: relative;
    width: 100%;
    height: 100%;

    &__item{
        width: 2.2rem;
        height: 2.2rem;

        position: absolute;
        z-index: -2000;
        border-radius: 100rem;

        animation-duration: 40s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.76,.42,.5,.78);
        backface-visibility: hidden;
        
        //particle types
        //--------------------------------------------
        &--1{
            background-color: $color-primary;
            bottom: -8rem;
            &--pos1{
                left: 5%;
            }
            &--pos2{
                left: 7%;
            }
        }
        &--2{
            background-color: $color-secondary;
            bottom: 0;
            &--pos1{
                left: 12%;
            }
            &--pos2{
                left: 10%;
            }
        }
        &--3{
            background-color: $color-tertiary;
            bottom: -5rem;
            &--pos1{
                left: 21%;
            }
            &--pos2{
                left: 23%;
            }
        }
        &--4{
            background-color: $color-primary;
            bottom: -10rem;
            &--pos1{
                left: 30%;
            }
            &--pos2{
                left: 33%;
            }
        }
        &--5{
            background-color: $color-quaternary;
            bottom: 0;
            &--pos1{
                left: 42%;
            }
            &--pos2{
                left: 39%;
            }
        }
        &--6{
            background-color: $color-primary;
            bottom: -10rem;
            &--pos1{
                left: 55%;
            }
            &--pos2{
                left: 59%;
            }
        }
        &--7{
            background-color: $color-tertiary;
            bottom: 0;
            &--pos1{
                left: 62%;
            }
            &--pos2{
                left: 66%;
            }
        }
        &--8{
            background-color: $color-quaternary;
            bottom: -10rem;
            &--pos1{
                left: 75%;
            }
            &--pos2{
                left: 73%;
            }
        }
        &--9{
            background-color: $color-secondary;
            bottom: 0;
            &--pos1{
                left: 82%;
            }
            &--pos2{
                left: 84%;
            }
        }
        &--10{
            background-color: $color-quaternary;
            bottom: -10rem;
            &--pos1{
                left: 90%;
            }
            &--pos2{
                left: 88%;
            }
        }
        &--11{
            background-color: $color-secondary;
            bottom: -11rem;
            &--pos1{
                left: 96%;
            }
            &--pos2{
                left: 98%;
            }
        }

        //animation types
        //--------------------------------------------
        &--anim1{
            animation-name: MoveDown-1;
        }
        &--anim2{
            animation-name: MoveDown-1;
            animation-delay: 3s;
        }
        &--anim3{
            animation-name: MoveDown-1;
            animation-delay: 6s;
        }
        &--anim4{
            animation-name: MoveDown-1;
            animation-delay: 9s;
        }
        &--anim5{
            animation-name: MoveDown-1;
            animation-delay: 12s;
        }
        &--anim6{
            animation-name: MoveDown-1;
            animation-delay: 15s;
        }
        &--anim7{
            animation-name: MoveDown-1;
            animation-delay: 18s;
        }
        &--anim8{
            animation-name: MoveDown-1;
            animation-delay: 21s;
        }
        &--anim9{
            animation-name: MoveDown-1;
            animation-delay: 24s;
        }
        &--anim10{
            animation-name: MoveDown-1;
            animation-delay: 27s;
        }
    }
}

// .particles__item--1{
//     width: 5%;
//     height: 10rem;

//     position: absolute;
//     bottom: 0;
//     z-index: 1000;

//     border-radius: 100rem;
// }