.particles{
    position: relative;
    width: 100%;
    height: 100%;

    &__item{
        width: 2.2rem;
        height: 2.2rem;

        position: absolute;
        z-index: -2000;
        border-radius: 100rem;

        $animation-duration: 60s;

        animation-name: ParticleMoveDownAnimation;
        animation-duration: $animation-duration;
        animation-iteration-count: infinite;
        animation-timing-function: linear; //cubic-bezier(.76,.42,.5,.78);
        backface-visibility: hidden;

        @include respond(tab-land){
            animation-name: ParticleMoveDownAnimation-tab-land;
            animation-duration: $animation-duration * 1.2;
            width: 1.9rem;
            height: 1.9rem;
        }
        @include respond(tab-port){
            animation-name: ParticleMoveDownAnimation-tab-port;
            animation-duration: $animation-duration * 1.5;
            width: 1.9rem;
            height: 1.9rem;
        }
        @include respond(phone){
            animation-name: ParticleMoveDownAnimation-phone;
            animation-duration: $animation-duration * 1.2;
            width: 1.5rem;
            height: 1.5rem;
        }
        
        //particle types
        //--------------------------------------------
        &--1{
            bottom: -8rem;
            &--pos1{
                background-color: $color-primary;
                left: 5%;
            }
            &--pos2{
                background-color: $color-secondary;
                left: 7%;
            }
        }
        &--2{
            bottom: -1;
            &--pos1{
                background-color: $color-secondary;
                left: 12%;
            }
            &--pos2{
                background-color: $color-tertiary;
                left: 10%;
            }
        }
        &--3{
            bottom: -5rem;
            &--pos1{
                background-color: $color-tertiary;
                left: 21%;
            }
            &--pos2{
                background-color: $color-quaternary;
                left: 23%;
            }
        }
        &--4{
            bottom: -10rem;
            &--pos1{
                background-color: $color-primary;
                left: 30%;
            }
            &--pos2{
                background-color: $color-secondary;
                left: 33%;
            }
        }
        &--5{
            bottom: -1;
            &--pos1{
                background-color: $color-tertiary;
                left: 42%;
            }
            &--pos2{
                background-color: $color-secondary;
                left: 39%;
            }
        }
        &--6{
            bottom: -10rem;
            &--pos1{
                background-color: $color-primary;
                left: 55%;
            }
            &--pos2{
                background-color: $color-quaternary;
                left: 59%;
            }
        }
        &--7{
            bottom: -1;
            &--pos1{
                background-color: $color-tertiary;
                left: 62%;
            }
            &--pos2{
                background-color: $color-secondary;
                left: 66%;
            }
        }
        &--8{
            bottom: -10rem;
            &--pos1{
                left: 75%;
                background-color: $color-quaternary;
            }
            &--pos2{
                background-color: $color-primary;
                left: 73%;
            }
        }
        &--9{
            bottom: -1;
            &--pos1{
                background-color: $color-secondary;
                left: 82%;
            }
            &--pos2{
                background-color: $color-tertiary;
                left: 84%;
            }
        }
        &--10{
            bottom: -10rem;
            &--pos1{
                background-color: $color-quaternary;
                left: 90%;
            }
            &--pos2{
                background-color: $color-primary;
                left: 88%;
            }
        }
        &--11{
            bottom: -11rem;
            &--pos1{
                left: 96%;
                background-color: $color-secondary;
            }
            &--pos2{
                background-color: $color-tertiary;
                left: 98%;
            }
        }

        //animation types
        //--------------------------------------------
        &--anim1{
            animation-delay: $animation-duration * -0.95;
        }
        &--anim2{
            animation-delay: $animation-duration * -0.75;
        }
        &--anim3{
            animation-delay: $animation-duration * -0.55;
        }
        &--anim4{
            animation-delay: $animation-duration * -0.35;
        }
        &--anim5{
            animation-delay: $animation-duration * -0.15;
        }
        &--anim6{
            //animation-delay: 0s;
        }
        &--anim7{
            animation-delay: $animation-duration * 0.19;
        }
        &--anim8{
            animation-delay: $animation-duration * 0.17;
        }
        &--anim9{
            animation-delay: $animation-duration * 0.37;
        }
        &--anim10{
            animation-delay: $animation-duration * 0.57; 
        }

        &--anim11{
            animation-delay: $animation-duration * -0.85;
        }
        &--anim12{
            animation-delay: $animation-duration * -0.65;
        }
        &--anim13{
            animation-delay: $animation-duration * -0.45;
        }
        &--anim14{
            animation-delay: $animation-duration * -0.25;
        }
        &--anim15{
            animation-delay: $animation-duration * 0.27;
        }
        &--anim16{
            animation-delay: $animation-duration * 0.47;
        }
        &--anim17{
            animation-delay: $animation-duration * 0.67;
        }
        &--anim18{
            animation-delay: $animation-duration * 0.87;
        }
        &--anim19{
            animation-delay: $animation-duration * 0.97;
        }
        &--anim20{
            animation-delay: $animation-duration * 0.77; 
        }
    }
}