.header{
   text-align:center;
   background-image: linear-gradient(to top, transparent 15%, rgba($color-primary-light, .65), rgba($color-primary-dark, .85)),url(../img/img-001.jpg);
   background-size: cover;
   background-position: top;
   height: 97vh;

   &__text{
    @include CentralizeXY();
   }
}



