.header{
   text-align:center;
   background-image: url(../img/img-001.jpg);
   background-size: cover;
   background-position: top;
   height: 97vh;

   &__text{
    max-width: 100%;
    @include CentralizeXY();
    background-color: rgba($color-black, .5);
    padding: 2rem;
    border-radius: 1rem;
   }
}



