    /*
    Flaticon icon font: Flaticon
    Creation date: 14/12/2017 16:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-paint-3:before { content: "\f100"; }
.flaticon-paint-2:before { content: "\f101"; }
.flaticon-paint-1:before { content: "\f102"; }
.flaticon-technology:before { content: "\f103"; }
.flaticon-social:before { content: "\f104"; }
.flaticon-game-1:before { content: "\f105"; }
.flaticon-music-2:before { content: "\f106"; }
.flaticon-music-1:before { content: "\f107"; }
.flaticon-black:before { content: "\f108"; }
.flaticon-music:before { content: "\f109"; }
.flaticon-paint:before { content: "\f10a"; }
.flaticon-game:before { content: "\f10b"; }
    
    $font-Flaticon-paint-3: "\f100";
    $font-Flaticon-paint-2: "\f101";
    $font-Flaticon-paint-1: "\f102";
    $font-Flaticon-technology: "\f103";
    $font-Flaticon-social: "\f104";
    $font-Flaticon-game-1: "\f105";
    $font-Flaticon-music-2: "\f106";
    $font-Flaticon-music-1: "\f107";
    $font-Flaticon-black: "\f108";
    $font-Flaticon-music: "\f109";
    $font-Flaticon-paint: "\f10a";
    $font-Flaticon-game: "\f10b";