@keyframes MoveInRight{
    0%{
        opacity: 0;
        transform: translate(0, 100rem);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes DisplayByIncreasingFont{
    0%{
        opacity:0.01;
        font-size:$font-size-largest * 0.01;
    }
    5%{
        opacity:0.05;
        font-size:$font-size-largest * 0.05;
        }
    10%{
        opacity:0.1;
        font-size:$font-size-largest * 0.1;
    }
    15%{
        opacity:0.15;
        font-size:$font-size-largest * 0.15;
    }
    20%{
        opacity:0.2;
        font-size:$font-size-largest * 0.2;
    }
    25%{
        opacity:0.25;
        font-size:$font-size-largest * 0.25;
    }
    30%{
        opacity:0.3;
        font-size:$font-size-largest * 0.3;
    }
    35%{
        opacity:0.35;
        font-size:$font-size-largest * 0.35;
    }
    40%{
        opacity:0.4;
        font-size:$font-size-largest * 0.4;
    }
    45%{
        opacity:0.45;
        font-size:$font-size-largest * 0.45;
    }
    50%{
        opacity:0.5;
        font-size:$font-size-largest * 0.5;
    }
    55%{
        opacity:0.55;
        font-size:$font-size-largest * 0.55;
    }
    60%{
        opacity:0.6;
        font-size:$font-size-largest * 0.6;
    }
    65%{
        opacity:0.65;
        font-size:$font-size-largest * 0.65;
    }
    70%{
        opacity:0.7;
        font-size:$font-size-largest * 0.7;
    }
    75%{
        opacity:0.75;
        font-size:$font-size-largest * 0.75;
        }
    80%{
        opacity:0.8;
        font-size:$font-size-largest * 0.8;
    }
    85%{
        opacity:0.85;
        font-size:$font-size-largest * 0.85;
        }
    90%{
        opacity:0.9;
        font-size:$font-size-largest * 0.9;
    }
    95%{
        opacity:0.95;
        font-size:$font-size-largest * 0.95;
    }
    100%{
        opacity:1;
        font-size:$font-size-largest;
    }
}

@mixin ParticleMoveDownAnimation($init-pos-x, $init-pos-y){
    0%{
        transform: translateY($init-pos-y);
    }
    10%{
        transform: translate($init-pos-x * 3,  $init-pos-y * 0.9);
    }
    20%{
        transform: translate($init-pos-x * -2, $init-pos-y * 0.8);
    }
    30%{
        transform: translate($init-pos-x * 2, $init-pos-y * 0.7);
    }
    40%{
        transform: translate($init-pos-x * -1, $init-pos-y * 0.6);
    }
    50%{
        transform: translate($init-pos-x * 3, $init-pos-y * 0.5);
    }
    60%{
        transform: translate($init-pos-x * -2, $init-pos-y * 0.4);
    }
    70%{
        transform: translate($init-pos-x * 1, $init-pos-y * 0.3);
    }
    80%{
        transform: translate($init-pos-x * -3, $init-pos-y * 0.2);
    }
    90%{
        transform: translate($init-pos-x * 2, $init-pos-y * 0.1);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes ParticleMoveDownAnimation {
    $x: 1rem;
    $y: -300rem;
    
    @include ParticleMoveDownAnimation($x, $y);
}

@keyframes ParticleMoveDownAnimation-tab-land {
    $x: 1rem;
    $y: -500rem;
    
    @include ParticleMoveDownAnimation($x, $y);
}

@keyframes ParticleMoveDownAnimation-tab-port {
    $x: 1rem;
    $y: -600rem;
    
    @include ParticleMoveDownAnimation($x, $y);
}

@keyframes ParticleMoveDownAnimation-phone {
    $x: 1rem;
    $y: -500rem;
    
    @include ParticleMoveDownAnimation($x, $y);
}
