body{
    font-family: $font-family-primary;
}

.heading-main{
    @include respond-font($font-size-largest);
    color: $color-white;
    font-family: $font-family-secondary;
    font-weight: 800;
    letter-spacing: .5rem;
    
    animation-name: DisplayByIncreasingFont;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;

    backface-visibility: hidden;
}

.heading-sub{
    @include respond-font($font-size-medium);
    color: $color-text-light;
    font-weight: 1000;
    letter-spacing: 1rem;
    
    animation-name: MoveInRight;
    animation-duration: 2s;

    backface-visibility: hidden;
}

.heading-secondary{
    @include respond-font($font-size-medium);
    color: $color-primary; 
    padding: 2rem;
    text-align: center;
}

.heading-tertiary{
    @include respond-font($font-size-small);
    color: $color-primary; 
    padding: 1rem;
    text-align: center;
}

.paragraph{
    &--primary{
        @include respond-font($font-size-small);
        color: $color-text-dark;
        text-align: center;

        line-height: 1.5;
        letter-spacing: .3rem;
        word-spacing: .4rem;
        padding: 2rem;
        width: 100%;

        @include respond(tab-land){
            line-height: initial;
            letter-spacing: initial;
            word-spacing: initial;
            padding: 1rem;
        }
    }
    &--secondary{
        @include respond-font($font-size-text);
        color: $color-text-dark;
        padding: 1rem 1rem;
        text-align: center;
        line-height: 1.5;
    }
}

.handwriting-small{
    font-family: $font-family-secondary;
    font-size: $font-size-small * 1.4;
    font-weight: 800;
}

