.u-text-center{ text-align: center; }
.u-margin-bottom-big { margin-bottom: 8rem; }
.u-bold {font-weight: bolder; }
.u-color-primary{color: $color-primary!important;}
.u-color-secondary{color: $color-secondary!important;}
.u-color-tertiary{color: $color-tertiary!important;}
.u-color-quaternary{color: $color-quaternary!important;}

.u-emphasize{
    display: inline-block;
    &:hover{
        transform: scale(1.1);
    }
}

.u-text-school-name{
    font-style: italic;
    font-weight: 200;
}

